<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uz.bdmgroup.ilmizlab">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IlmIzlab"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".screens.TeacherActivity"
            android:exported="false" />
        <activity
            android:name=".screens.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.addCenter.AddCenterActivity"
            android:exported="false" />
        <activity
            android:name=".screens.addCenter.MyCentersActivity"
            android:exported="false" />
        <activity
            android:name=".screens.registration.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".screens.filterByCategory.FilterByCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".screens.search_category.regions.FanSearchActivity"
            android:exported="false" />
        <activity
            android:name=".screens.search_category.regions.RegionActivity"
            android:exported="false" />
        <activity
            android:name=".screens.SupportActivity"
            android:exported="false" />
        <activity
            android:name=".screens.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".screens.profileActivity.ProfilActivity"
            android:exported="false" />
        <activity
            android:name=".screens.LevelActivity"
            android:exported="false" />
        <activity
            android:name=".screens.NewsDetailActivity"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDb0R2poZLqlMSS2HDxhyz5_wVfKFono7U" />

        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".screens.MainActivity"
            android:exported="false" />
        <activity
            android:name=".screens.eduCenterDetail.EduCenterDetailActivity"
            android:exported="false" />
    </application>

</manifest>